/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur199.ani), url(https://cur.cursors-4u.net/cursors/cur-2/cur199.png), auto !important;} /* End https://www.cursors-4u.com */

@font-face {
  font-family: "inter";
  src: url("fonts/inter.ttf"),
    url("fonts/inter.ttf")
      format("truetype");;
}

html{
  background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("images/blue-flower.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-family: "inter"; 



}

.resize{
  left: 25px;
  top: 25px;
  right: auto;
  width: 13%;
}


#icon-resize{
  width: 80%;

}

#icon-resize:hover{
  background: #F1E6B1;
  
}




#musicplayer{
  transform: scale(1.5, 1.5);

}



/*------------------------------------------------*/


/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #CFCFCF; 
  box-shadow: 0px 2px;
   border: 0.5px solid;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #B9B9B9; 
}


/*---------------------photos----------------------------*/
#thumb1 {
  width: 100%;
}

#thumb2 {
  width: 100%;
}

#thumb3 {
  width: 100%;
}
/*----------------------center--------------------------*/

.browser-center {
  display: grid;
  place-items: center;
}

.close {
    color: #FFFFFF;
    background: #FF0000;
    line-height: 25px;
    position: absolute;
    right: 1%;
    top: 1.5%;
    text-align: center;
    width: 4%;
    text-decoration: none;
    font-weight: bold;
    border-radius: 2px;



}

.close:hover { 
  color: rgba(250, 250, 250, 0.7);
}


/*----------------------tab--------------------------*/

#gallerybrowser{
  position: absolute;
  z-index: 9;
  background-color: #ECEAEA;
  text-align: center;
  width: 50%;
  top: 10%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#browserheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #0D13AB;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: left;
  font-weight: bold;
}
/* Style the tab */
.tab {
  float: left;
  width: 20%;
  height: 450px;
  overflow-y:scroll;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: #ECEAEA;
  color: black;
  padding: 0.5em;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: right;
  padding: 4%;
  height: 50vh;
  width: 70%;
  overflow-y: scroll;
}

/*----------------------about--------------------------*/

#aboutbrowser{
  position: absolute;
  z-index: 9;
  background-color: #ECEAEA;
  text-align: center;
  width: 50%;
  top: 10%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.about-content{
    padding: 5%;
    height: 55vh;
    overflow-y: scroll;
}
 
.about-content h2 {
  text-align: left;
}

.about-content p {
  text-align: left;
}


/*----------------------3D Model--------------------------*/

#modelbrowser{
  position: absolute;
  z-index: 9;
  background-color: #ECEAEA;
  text-align: center;
  width: 50%;
  top: 10%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.model-content{
    padding: 4%;
    height: 55vh;
    overflow-y: scroll;
}
 
.model-content h2 {
  text-align: left;
}


/*----------------------concept--------------------------*/

#conceptbrowser{
  position: absolute;
  z-index: 9;
  background-color: #ECEAEA;
  text-align: center;
  width: 50%;
  top: 10%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.concept-content{
    padding: 4%;
    height: 55vh;
    overflow-y: scroll;
}
 
.concept-content h2 {
  text-align: left;
}


/*----------------------concept--------------------------*/

#videobrowser{
  position: absolute;
  z-index: 9;
  background-color: #ECEAEA;
  text-align: center;
  width: 50%;
  top: 10%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.video-content{
    padding: 4%;
    height: 55vh;
    overflow-y: scroll;
}
 
.video-content h2 {
  text-align: left;
}



/*-----------------bottom navigation--------------*/
.navbar {
  overflow: hidden;
  background-color: rgba(188, 212, 254, 0.8);
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0px;
  


}

.navbar a {
  float: right;
  color: #ffffff;
  padding: 19px 16px;
  text-decoration: none;
  font-size: 17px;


}

.navbar a:hover {
  background: #F1E6B1;
  color: white;
}

.nav-left {
  display: flex;
  position: fixed;

}

.no-link a:hover {
  background: transparent;
}




.dropdown {
  position: relative;
  display: inline-block;
  width: 75px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  z-index: 1;
  bottom: 100%;


}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #E9DDE6;
  min-width: 160px;

}



.dropdown:hover .dropdown-content {
  display: block;

}

/*-----------------notes--------------*/

.note-center {
  display: flex;
  flex-direction: row-reverse;



}

textarea {
  width: 100%;
  height: 230px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #BCD4FE;
  font-size: 14px;
  resize: none;

}

/* width */
textarea::-webkit-scrollbar {
  width: 0px;
}

/* Track */
textarea::-webkit-scrollbar-track {
  background: transparent; 

}
 
/* Handle */
textarea::-webkit-scrollbar-thumb {
  background: transparent; 
   border: none;

}

/* Handle on hover */
textarea::-webkit-scrollbar-thumb:hover {
  background: transparent; 
}






